<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoList!</title>
  </head>
  <body>
    <div class="ToDoContainer">
        <% if(locals.newToDoEntry) { %>
        <div>
            <% newToDoEntry.forEach(element => { %>
                <p><%= element %></p>
            <% }) %>
        </div>
        <% } %>
        <form action="/newEntry" method="POST">
            <input type="text" name="todo" />
            <button>Click Here!</button>
        </form>

    </div>
  </body>
</html>
