<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include('partials/header.ejs') %>
    <div class="ToDoContainer">
        <%- include('partials/date.ejs') %>
        <div class="newToDo">
            <% if(locals.newToDoEntry) { %>
            <div>
                <% newToDoEntry.forEach(element => { %>
                    <p class="userItem">
                        <input type="checkbox">
                        <label><%= element %></label>
                    </p>
                <% }) %>
            </div>
            <% } %>
            <form action="/newEntry" method="POST">
                <input type="text" name="todo" id="todo" placeholder='ToDo'/>
                <button>+</button>
            </form>
        </div>
        <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
